*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  flex-direction: row;
  margin: 134px 30px;
  width: 1140px;
  height: 534px;
  align-items: flex-start;
  gap: 29px;
}

.result {
  width: 711px;
  height: 456px;
  align-self: end;
}

.result__video-container {
  height: 386px;
  width: 711px;
  margin-bottom: 15px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
} 

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 2px;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__textfield {
  font-size: 18px;
  font-family: 'Fira Sans Condensed';
  line-height: 100%;
  border: none;
  border-top: 1px solid #fff; 
  border-bottom: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  appearance: none;
  min-width: 225px;
  height: 27px;
  margin: 2px 0 3px 0px;
  padding-left: 0;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: fit-content;
  height: 31px;
}

.search-form__pseudo-checkbox {
  height: 19px;
  width: 19px;
  border: solid 1px #fff;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: " ";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label-text:hover {
  text-decoration: underline;
  cursor: pointer;
}
  
.search-form__checkbox-list .search-form__label:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button {
  border: solid 1px #fff;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  line-height: 100%;
  color: #fff;
  background-color: transparent;
  height: 34px;
  font-weight: 700;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: solid 1px #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  width: 194px;
  align-self: self-end;
}

.title {
  font-family: Oswald;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  margin: 0 140px 24px 0;
  color: #fff;
}

.content__accent {
  color: #545050;
}

ul,
ol {
  list-style: none;
}

.content__list-container {
  display: flex;
  flex-direction: column;
  max-height: 298px;
  overflow-y: auto;
  overflow-x: hidden;
  gap: 30px;
  position: relative;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
}

.content__list-item:hover {
  text-decoration: underline;
}

.content__list-item:focus {
  outline: none;
}

.content__list-item:focus-visible {
  outline: solid 1px #fff;
}

.content__card-link {
  display: block;
  text-decoration: none;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: self-start;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-title {
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  font-family: Oswald;
  color: #fff;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 196px;
}

.content__video-card-description {
  font-size: 18px;
  line-height: 16.2px;
  color:#fff;
  letter-spacing: 0;
  padding-top: 4px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.content__video-card-thumbnail {
  height: 103px;
  min-width: 194px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  width: 100%;
  padding: 7px 140px;
  margin-bottom: 2px;
  margin-left: 2px;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
